<div class="col-md-12">
    <nb-card>
        <nb-tabset>
            <nb-tab tabTitle="JSON verfier">
                <ngx-json-verifier></ngx-json-verifier>
            </nb-tab>
            <nb-tab tabTitle="Hash verifier">
                <ngx-hash-verifier></ngx-hash-verifier>
            </nb-tab>
            <nb-tab tabTitle="File verifier">
                <ngx-file-verifier></ngx-file-verifier>
            </nb-tab>
        </nb-tabset>
    </nb-card>
</div>