@import '../../@theme/styles/themes';

@include nb-install-component() {
  .accordion-container:first-child {
    margin-bottom: nb-theme(card-margin-bottom);
  }
}

.user {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;

  // Avoid disalignment on form errors
  align-self: start !important;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.fab {
  width: 3.7rem;
  height: 3.7rem;
  background-color: #3366ff;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 3.7rem;
  color: #ffffff;
  text-align: center;
  line-height: 3.7rem;

  position: fixed;
  right: 3%;
  bottom: 12%;

  cursor: pointer;

  z-index: 10;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

nb-user {
  cursor: pointer;
}
