<!-- <div class="row">
    <div class="col-md-12">
        <button nbButton status="primary" (click)="addUser()">Add user</button>
    </div>
</div> -->

<div class="fab" (click)="addUser()">
    <!-- <nb-icon icon="plus-outline"></nb-icon> -->
    +
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Search user</nb-card-header>
            <nb-card-body>

                <!-- User search form -->
                <form class="form-inline" [formGroup]="searchForm">

                    <!-- User search field -->
                    <div class="form-control-group" fullWidth>

                        <!-- User search input -->
                        <input id="userName" type="text" nbInput fullWidth placeholder="User name"
                            formControlName="searchQuery">
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="lists row">
    <div class="col-md-12">
        <nb-card class="list-card">
            <nb-card-header>Users</nb-card-header>

            <nb-list>
                <nb-list-item #item *ngFor="let user of users">
                    <nb-user size="giant" [name]="user.firstName+' '+user.lastName" [title]="user.email" [routerLink]="['/pages/users', user.id]">
                    </nb-user>
                </nb-list-item>
            </nb-list>

        </nb-card>
    </div>
</div>