<div class="center">
  <!-- <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" -->
    <!-- (onFileLeave)="fileLeave($event)"> -->
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div class="drop-message">
        <p>Drag files to validate them.</p>
        <button nbButton type="button" (click)="openFileSelector()">Browse Files</button>
      </div>
    </ng-template>
  </ngx-file-drop>

  <!-- TODO: Use tree-grid and add a delete button -->
  <div class="upload-table">
    <table class="table">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody class="upload-name-style">
        <tr *ngFor="let item of files; let i=index">
          <td><strong>{{ item.relativePath }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="submit-button">
    <!-- Submit button -->
    <button nbButton status="primary" (click)="onCheckFiles()">Submit</button>
  </div>

</div>


<!-- TODO: Move result into separate component, pass in verificationResult -->

<!-- If a json was submitted -->
<ng-container
  *ngIf="verificationResult && (verificationResult !== null || verificationResult !== undefined); else resultPlaceholder">

  <!-- If a transaction was found -->
  <ng-container *ngIf="verificationResult.found; else noTransactionsFound">
    <p>Tracked in blockchain!! Check it out:
      <a target="_blank" href="{{ verificationResult.etherscanUrl }}">{{ verificationResult.etherscanUrl }}</a>
    </p>
    <p>
      <qr-code [value]="verificationResult.etherscanUrl" [size]="150"></qr-code>
    </p>
  </ng-container>

  <!-- If no transactions were found -->
  <ng-template #noTransactionsFound>
    <p>No transaction found yet.</p>
  </ng-template>
</ng-container>

<ng-template #resultPlaceholder>
  <!-- If no json were submitted yet -->
  <p>Please insert json of json</p>
</ng-template>