.drop-message {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-around;
}

.upload-table {
    margin: 0 1rem;
}

.upload-table th {
    border-top: none;
}

.submit-button {
    text-align: center;
}
