.form-inline [fullWidth] {
    flex: 1;
}

.form-inline > * {
    margin: 0 1.5rem 1.5rem 0;

    // Avoid disalignment on form errors
    align-self: start !important;
}

nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
}

// stylelint-disable-next-line selector-max-id
#jsonInput {
    min-height: 15rem;
}
