:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card-body {
    display: flex;
    justify-content: space-between;

    input {
      width: 100%;
    }
  }

  nb-stepper {
      min-width: 100%;
  }

  .calendar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nb-calendar-range {
    margin: 1.5rem 0;
  }

  .room-item {
    margin-bottom: 4rem;
  }

  .info-text {
    padding: 1rem;
  }
  
  .checkboxes {
    padding: 1.8rem;
  }
  
  .download-button {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  p {
    padding: 0 1rem;
  }
  
}
.subtitle{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.row-col-12 {
  padding: 0;
  margin: 0;
  display: block;
  overflow: auto;
  margin-bottom: 2rem;
}
.col-6{
  width: 40rem;
}
// #userDiv{
// float: left;
// }
// #workspaceDiv{
//  float: right;
// }
.sectionTitle{
  font-weight: bold;
  text-align: left;
  width: 20rem;
}
#userReport{
  margin-top: 1rem;
  margin-left: 5.5rem;
}
#workspaceReport{
  margin-top: 1rem;
  margin-left: 11rem;
}

.roomName {
  padding-bottom: 1rem;
}
