<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-body>
        <nb-stepper orientation="horizontal">

            <nb-step [label]="labelOne">
                <ng-template #labelOne>Date range</ng-template>
                <div class="calendar-container">
                    <h3>Select date range</h3>

                    <nb-calendar-range [(range)]="range" [max]="max"></nb-calendar-range>
                </div>

                <button nbButton disabled nbStepperNext>Prev</button>
                <button nbButton nbStepperNext>Next</button>
            </nb-step>

            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Workspaces</ng-template>
                <h3>Select workspaces</h3>

                <div class="row show-grid">
                    <div class="col-12 room-item" *ngFor="let room of rooms">
                        <div class="row">
                            <!-- <nb-checkbox (checkedChange)="onRoomsCheckboxChange($event, room)"> <strong>{{
                                    room.name }}</strong></nb-checkbox><br> -->

                            <strong class="roomName">{{ room.name }}</strong>
                        </div>

                        <div class="row show-grid">
                            <div class="col-md-3" *ngFor="let workspace of room.workspaces">
                                <div class="row">
                                    <nb-checkbox (checkedChange)="onWorkspacesCheckboxChange($event, workspace)">{{
                                        workspace.name }}</nb-checkbox><br>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <p class="caption status-danger" *ngIf="workspacesForm.controls['checkArray'].errors?.required">
                    Checkbox is required, select atleast one value.
                </p>

                <button nbButton nbStepperPrevious>Prev</button>
                <button nbButton nbStepperNext [disabled]="workspacesForm.controls['checkArray'].errors">Next</button>
            </nb-step>

            <nb-step [label]="labelThree">
                <ng-template #labelThree>Users</ng-template>
                <h3>Select users</h3>

                <div class="row show-grid">
                    <div class="col-md-4" *ngFor="let user of users">
                        <div class="row">
                            <nb-checkbox (checkedChange)="onUsersCheckboxChange($event, user.email)">{{ user.email }}
                            </nb-checkbox><br>
                        </div>
                    </div>
                </div>

                <p class="caption status-danger" *ngIf="usersForm.controls['checkArray'].errors?.required">
                    Checkbox is required, select atleast one value.
                </p>

                <button nbButton nbStepperPrevious>Prev</button>
                <button nbButton nbStepperNext [disabled]="usersForm.controls['checkArray'].errors">Next</button>
            </nb-step>

            <nb-step [label]="labelFour">
                <ng-template #labelFour>Type</ng-template>
                <h3>Select report type</h3>

                <div class="info-text">
                    Select which informations you want to download:
                </div>

                <div class="row">
                    <nb-checkbox class="col-12" (checkedChange)="onTypeCheckboxChange($event, 'cleanings')">Cleanings
                        history</nb-checkbox><br>
                    <nb-checkbox class="col-12" (checkedChange)="onTypeCheckboxChange($event, 'bookings')">Bookings
                        history</nb-checkbox>
                </div>

                <p class="caption status-danger" *ngIf="typeForm.controls['checkArray'].errors?.required">
                    Checkbox is required, select atleast one value.
                </p>
                <button nbButton nbStepperPrevious>Prev</button>
                <button nbButton nbStepperNext [disabled]="typeForm.controls['checkArray'].errors">Next</button>
            </nb-step>

            <nb-step [label]="labelFive">
                <ng-template #labelFive>Recap</ng-template>
                <h3>Confirm?</h3>

                Do you want to download {{ typeForm.value.checkArray }} reports with following informations?

                <!-- TODO: @Trevi e @Gio Da integrare anche questa cosa -->
                <div class="subtitle" id="dataRangeReport">
                   <strong>Selected range:</strong>  {{ range.start | date }} - {{ range.end | date }}
                </div>
            
                    <div class="row col-12">

                        <div class="col-6" id="userDiv">
    
                            <span class="sectionTitle">Users:</span>
    
                            <div class="row" *ngFor="let user of usersForm.value.checkArray" id="userReport">
                                {{ user }}
                            </div>
                        </div>
    
                        <div class="col-6" id="workspaceDiv">
    
                            <span class="sectionTitle">Workspaces:</span>
    
                            <div class="row" *ngFor="let workspace of workspacesForm.value.checkArray" id="workspaceReport">
                                {{ workspace.name }}
                            </div>
                        </div>
                        
    
                    </div>
                
            <div id="buttonsReport">
                <button nbButton nbStepperPrevious>Prev</button>
                <button nbButton status="success" nbStepperNext (click)="onSubmit()">Download</button>
            </div>
              
            </nb-step>

        </nb-stepper>
    </nb-card-body>
</nb-card>