<div>
    <nb-card>
        <nb-card-body>
            <nb-stepper #stepper>

                <!-- ROOM NAME STEP -->
                <nb-step [stepControl]="roomNameForm" label="Name">
                    <form [formGroup]="roomNameForm" (ngSubmit)="onNameSubmit()" class="step-container">
                        <p class="lorem">
                            Choose Room name:
                        </p>
                        <div class="input-group">
                            <input nbInput fullWidth type="text" placeholder="Enter your name" class="form-control"
                                formControlName="name" required
                                [status]="roomNameForm.controls.name.dirty ? (roomNameForm.controls.name.invalid  ? 'danger' : 'success') : 'basic'">

                            <!-- Room name errors -->
                            <ng-container class="form-field-errors"
                                *ngIf="roomNameForm.controls.name.invalid && roomNameForm.controls.name.touched">
                                <p class="caption status-danger" *ngIf="roomNameForm.controls.name.errors?.required">
                                    Room name is required!</p>
                                <p class="caption status-danger" *ngIf="roomNameForm.controls.name.errors?.minlength">
                                    Insert at least 4 chars
                                </p>
                                <p class="caption status-danger"
                                    *ngIf="roomNameForm.controls.name.errors?.uniqueRoomName">
                                    A room named {{ roomNameForm.controls.name.value }} already exists
                                </p>
                            </ng-container>
                        </div>
                        <button nbButton type="submit" status="primary" [disabled]="!roomNameForm.valid">next</button>
                    </form>
                </nb-step>


                <!-- ROOM RFID STEP -->
                <nb-step [stepControl]="roomRfidForm" label="RFID">
                    <form [formGroup]="roomRfidForm" (ngSubmit)="onRfidSubmit()" class="step-container">
                        <p class="lorem">
                            Set room's rfid id:
                        </p>
                        <div class="input-group">
                            <input nbInput fullWidth type="text" placeholder="Rfid" class="form-control"
                                formControlName="rfid" required
                                [status]="roomRfidForm.controls.rfid.dirty ? (roomRfidForm.controls.rfid.invalid  ? 'danger' : 'success') : 'basic'">

                            <!-- Room name errors -->
                            <ng-container class="form-field-errors"
                                *ngIf="roomRfidForm.controls.rfid.invalid && roomRfidForm.controls.rfid.touched">
                                <p class="caption status-danger" *ngIf="roomRfidForm.controls.rfid.errors?.required">
                                    Room rfid is required!</p>
                                <p class="caption status-danger" *ngIf="roomRfidForm.controls.rfid.errors?.minlength">
                                    Insert at least 4 chars
                                </p>
                                <p class="caption status-danger"
                                    *ngIf="roomRfidForm.controls.rfid.errors?.uniqueRfid">
                                    The rfid tag <strong>{{ roomRfidForm.controls.rfid.value }}</strong> is already associated
                                    to a room
                                </p>
                            </ng-container>
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton type="submit" status="primary" [disabled]="!roomRfidForm.valid">next</button>
                    </form>
                </nb-step>


                <!-- ROOM WORKSPACES STEP -->
                <!-- <nb-step [stepControl]="roomWorkspacesForm" label="Workspaces">
                    <form [formGroup]="roomWorkspacesForm" (ngSubmit)="onWorkspacesSubmit()" class="step-container">
                        <p class="lorem">
                            Add workspaces to the room:
                        </p>
                        <div class="input-group">
                            <input type="text" placeholder="Enter something" class="form-control"
                                formControlName="workspaces"
                                [ngClass]="{'form-control-danger': roomWorkspacesForm.invalid && (roomWorkspacesForm.dirty || roomWorkspacesForm.touched)}">
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton type="submit" status="primary">Next</button>
                    </form>
                </nb-step> -->

                <!-- RECAP STEP -->
                <nb-step [stepControl]="roomWorkspacesForm" label="Recap">
                    <div class="step-container">
                        <h4>Confirm?</h4>
                        <div>
                            Do you really want to create a room with the following informations?
                            <div>
                                <ul>
                                    <li>
                                        <strong>Name:</strong> {{ room.name }}
                                    </li>
                                    <li>
                                        <strong>Rfid:</strong> {{ room.rfid }}
                                    </li>
                                    <!-- <li> -->
                                        <!-- <strong>workspaces:</strong> {{ room.workspaces }} -->
                                    <!-- </li> -->
                                </ul>
                            </div>
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext status="success" (click)="onAddRoom()">Confirm</button>
                    </div>
                </nb-step>

                <!-- RESULT STEP -->
                <nb-step [stepControl]="roomWorkspacesForm" [hidden]="true" label="Result step">
                    <div class="step-container">

                        <ng-container *ngIf="getCreationResult() === 'creating'; else creationResult">
                            <h3>Creating room</h3>
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </ng-container>

                        <ng-template #creationResult>

                            <ng-container *ngIf="getCreationResult() === 'successful'; else creationFailed">
                                <h3>Room created!</h3>
                                <button nbButton (click)="close()">Ok</button>
                            </ng-container>

                            <ng-template #creationFailed>
                                <h3>Something went wrong</h3>
                                <button nbButton status="warning" (click)="onAddRoom()">Retry</button>
                                <button nbButton status="danger" (click)="close()">Close</button>
                            </ng-template>
                            
                        </ng-template>

                    </div>
                </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</div>