.card-body {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
}

.workspaceName {
  font-size: 2rem;
  font-weight: 700;
}

.editIcons {
  margin-left: 1rem;

  nb-icon {
    cursor: pointer;
    width: 2rem !important;
    height: 2rem !important;
  }
}
.workspaceInfo{
  display: flex;
  flex-direction: column;
}
.workspaceName{
  margin-top: 0.3rem;
}
.workspaceRfid{
  padding-top: 1rem;
  font-size: 10pt;
}
.card-body-content {
  display: flex !important;
  flex-direction: row;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 40%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 60%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

.history-card-title {
  text-align: center;
}

nb-card-header {
  display: flex;
  justify-content: space-between;
}

.download-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.link {
  cursor: pointer;
  color: blue !important;
  text-decoration: underline;
}

.download-disabled {
  cursor: default;
  color: grey;
  pointer-events: none;
}


.noHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: dimgray;
  font-size: 1.5rem;
  font-weight: 800;
}