<!-- Hash form -->
<form class="form-inline" [formGroup]="hashForm" (ngSubmit)="onCheckHash()">

  <!-- Hash field -->
  <div class="form-control-group" fullWidth>
    <!-- Hash input -->
    <input id="hash" type="text" nbInput fullWidth placeholder="Hash" formControlName="hash" required>
  </div>

  <!-- Submit button -->
  <button type="submit" nbButton status="primary">Submit</button>
</form>

<!-- TODO: Move result into separate component, pass in verificationResult -->

<!-- If a hash was submitted -->
<ng-container
  *ngIf="verificationResult && (verificationResult !== null || verificationResult !== undefined); else resultPlaceholder">

  <!-- If a transaction was found -->
  <ng-container *ngIf="verificationResult.found; else noTransactionsFound">
    <p>Tracked in blockchain!! Check it out:
      <a target="_blank" href="{{ verificationResult.etherscanUrl }}">{{ verificationResult.etherscanUrl }}</a>
    </p>
    <p>
      <qr-code [value]="verificationResult.etherscanUrl" [size]="150"></qr-code>
    </p>
  </ng-container>

  <!-- If no transactions were found -->
  <ng-template #noTransactionsFound>
    <p>No transaction found yet.</p>
  </ng-template>
</ng-container>

<ng-template #resultPlaceholder>
  <!-- If no hash were submitted yet -->
  <p>Please insert hash of json</p>
</ng-template>