@import '../../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    display: flex;
    flex-direction: column;
  }

  .location,
  .date {
    display: block;
  }

  .location {
    margin-bottom: 0.1rem;

    &:hover {
      font-size: 2.2rem;
      color: grey;
      cursor: pointer;
    }
  }

  .current {
    display: flex;
    justify-content: space-around;
  }

  .current-free-rooms-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0.5rem;
  }

  .current-free-rooms-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
  }

  .current-icon {
    font-size: 2rem;
    line-height: 1;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: 0.4rem;
    cursor: pointer;
  }

  .current-details {
    // display: flex;
    // justify-content: space-around;
    margin-top: 1rem;
  }

  .parameter {
    flex: 1 1 auto;
    text-align: center;
  }

  .parameter-name,
  .parameter-value {
    display: block;
  }

  .caption {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }

  .weekly-forecast {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }

  .day {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 1rem;
    flex-grow: 1;
  }

  .weather-icon {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  nb-progress-bar ~ nb-progress-bar {
    margin-top: 10rem;
  }

  .rfid {
    margin-bottom: 0.4rem;
  }

  .disabled-room {
    background: lightgray;
  }
}
