<nb-card size="small">

  <!-- TODO: Add this -->
  <!-- <nb-icon icon="trash-2-outline" status="danger" (click)="deleteRoom()"></nb-icon> -->

  <nb-card-body [ngClass]="!room.enabled ? 'disabled-room' : ''">
    <span class="h3 location" [routerLink]="['/pages/rooms', room._id]">
      {{ room.name }}
      <nb-icon icon="chevron-right-outline" pack="eva"></nb-icon>
    </span>
    <span class="rfid">
      {{ room.rfid }}
    </span>
    <!-- <span class="date">{{ room._id }}</span> -->

    <!-- TODO: Improve rendering -->
    <div class="current">
      <!-- <span class="current-temperature h1">{{ freeWorkstations }}</span> -->
      <span class="current-free-rooms-number h1">{{ freeWorkspaces }}</span>
      <span class="current-free-rooms-text">/{{ room.workspaces_total }} free workspaces</span>
      
      <!-- <nb-icon icon="edit-outline" pack="eva" class="current-icon" (click)="deleteRoom()"></nb-icon> -->
      <nb-icon icon="trash-2-outline" status="danger" pack="eva" class="current-icon" (click)="deleteRoom()"></nb-icon>

    </div>

    <div class="current-details">
      <nb-progress-bar [value]="workspacesUsagePercentage" [status]="fillStatus" [displayValue]="true">
      </nb-progress-bar>
    </div>

    <div class="weekly-forecast">
      <div class="day">
        <span class="caption">Sun</span>
        <nb-progress-bar [value]="workspacesUsagePercentage" [status]="fillStatus"></nb-progress-bar>
      </div>
      <div class="day">
        <span class="caption">Mon</span>
        <nb-progress-bar [value]="workspacesUsagePercentage" [status]="fillStatus"></nb-progress-bar>
      </div>
      <div class="day">
        <span class="caption">Tue</span>
        <nb-progress-bar [value]="workspacesUsagePercentage" [status]="fillStatus"></nb-progress-bar>
      </div>
      <div class="day">
        <span class="caption">Wed</span>
        <nb-progress-bar [value]="workspacesUsagePercentage" [status]="fillStatus"></nb-progress-bar>
      </div>
    </div>
  </nb-card-body>
</nb-card>