.card-body {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
}

.userName {
  font-size: 2rem;
  font-weight: 700;
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

nb-icon {
  cursor: pointer;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 40%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 60%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

.history-card-title {
  text-align: center;
}

nb-card-header {
  display: flex;
  justify-content: space-between;
}

.download-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.noHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: dimgray;
  font-size: 1.5rem;
  font-weight: 800;
}

.download-disabled {
  cursor: default;
  color: grey;
  pointer-events: none;
}

.link {
  cursor: pointer;
  color: blue !important;
  text-decoration: underline;
}
