<!-- <p> {{ debug }}</p> -->

<div class="row">
    <div class="col-md-12">

        <nb-card>
            <nb-card-body>

                <div class="card-body">
                    <span>
                        <span class="userName">{{ user.firstName }} {{ user.lastName }}</span>
                    </span>

                    <span>
                        <!-- <nb-toggle [status]="user.enabled ? 'success' : 'danger'" [formControl]="activationForm">
                        </nb-toggle> -->

                        <nb-icon icon="trash-2-outline" status="danger" (click)="deleteUser()"></nb-icon>
                    </span>

                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>User info</nb-card-header>
            <nb-card-body>
                <form [formGroup]="editUserForm" (ngSubmit)="saveUser()">
                    <div class="form-group row">
                        <label for="inputEmail" class="label col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email"
                                formControlName="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="label col-sm-3 col-form-label">First name</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputFirstName" placeholder="First name"
                                formControlName="firstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="label col-sm-3 col-form-label">Last name</label>
                        <div class="col-sm-9">
                            <input type="text" nbInput fullWidth id="inputLastName" placeholder="Last name"
                                formControlName="lastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 label">Role</label>
                        <div class="col-sm-9">
                            <nb-radio-group formControlName="role">
                                <nb-radio value="admin">Admin</nb-radio>
                                <nb-radio value="employee">Employee</nb-radio>
                                <nb-radio value="cleaner">Cleaner</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" nbButton status="primary"
                                [disabled]="!editUserForm.dirty || !editUserForm.valid">Save</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-6">
        <nb-card size="large">
            <nb-card-header>
                User history
                <ng-container *ngIf="history">
                    <nb-icon icon="cloud-download-outline" class="download-icon" (click)="downloadHistory()"
                        [ngClass]="{'download-disabled':history && (history.merged_history.length === 0)}"></nb-icon>
                </ng-container>
            </nb-card-header>
            <nb-card-body>

                <ng-container *ngIf="history">
                    <ng-container *ngIf="history.merged_history.length > 0; else noHistory">
                        <ng-container *ngFor="let historyItem of history.merged_history">

                            <ng-container *ngIf="historyItem.type === 'cleaning'">
                                <nb-alert outline="success">
                                    <!-- <div class="history-card-title">
                                    <h6>Cleaning:</h6>
                                </div> -->

                                    <dl>
                                        <dt>Workspace</dt>
                                        <dd>{{ historyItem.workspace }}</dd>

                                        <dt>Datetime:</dt>
                                        <dd>{{ historyItem.datetime | date:'medium' }}</dd>

                                        <dt>Transaction url:</dt>

                                        <ng-container *ngIf="historyItem.tx_url; else requestTxHash">
                                            <dd><a class="link" href="{{ historyItem.tx_url }}" target="_blank">{{
                                                    historyItem.tx_url }}</a></dd>
                                        </ng-container>

                                        <ng-template #requestTxHash>
                                            <dd class="link" (click)="getTransactionUrl(historyItem)">Get transaction
                                                url</dd>
                                        </ng-template>
                                    </dl>
                                </nb-alert>
                            </ng-container>

                            <ng-container *ngIf="historyItem.type === 'booking'">
                                <nb-alert outline="warning">
                                    <!-- <div class="history-card-title">
                                    <h6>Booking:</h6>
                                </div> -->

                                    <dl>
                                        <dt>Workspace</dt>
                                        <dd>{{ historyItem.workspace }}</dd>

                                        <dt>Start datetime:</dt>
                                        <dd>{{ historyItem.start_datetime | date:'medium' }}</dd>

                                        <dt>End datetime:</dt>
                                        <dd>{{ historyItem.end_datetime | date:'medium' }}</dd>

                                        <ng-container *ngIf="historyItem.cancellation_datetime">
                                            <dt>Cancellation datetime:</dt>
                                            <dd>{{ historyItem.cancellation_datetime | date:'medium' }}</dd>
                                        </ng-container>

                                        <ng-container *ngIf="historyItem.checkin_datetime">
                                            <dt>Check in:</dt>
                                            <dd>{{ historyItem.checkin_datetime | date:'medium' }}</dd>
                                        </ng-container>

                                        <ng-container *ngIf="historyItem.checkout_datetime">
                                            <dt>Check out:</dt>
                                            <dd>{{ historyItem.checkout_datetime | date:'medium' }}</dd>
                                        </ng-container>

                                        <dt>Submission datetime:</dt>
                                        <dd>{{ historyItem.submission_datetime | date:'medium' }}</dd>

                                        <dt>Transaction url:</dt>

                                        <ng-container *ngIf="historyItem.tx_url; else requestTxHash">
                                            <dd><a class="link" href="{{ historyItem.tx_url }}" target="_blank">{{
                                                    historyItem.tx_url }}</a></dd>
                                        </ng-container>

                                        <ng-template #requestTxHash>
                                            <dd class="link" (click)="getTransactionUrl(historyItem)">Get transaction
                                                url</dd>
                                        </ng-template>

                                    </dl>
                                </nb-alert>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-template #noHistory>
                    <div class="noHistory">
                        No history found yet.
                    </div>

                </ng-template>

            </nb-card-body>
        </nb-card>
    </div>
</div>