<div>
    <nb-card>
        <nb-card-body>
            <nb-stepper #stepper>

                <!-- USER EMAIL STEP -->
                <nb-step [stepControl]="userEmailForm" label="Email">
                    <form [formGroup]="userEmailForm" (ngSubmit)="onEmailSubmit()" class="step-container">
                        <p class="lorem">
                            Choose User's email:
                        </p>
                        <div class="input-group">
                            <input nbInput fullWidth type="text" placeholder="Enter user's email" class="form-control"
                                formControlName="email" required
                                [status]="userEmailForm.controls.email.dirty ? (userEmailForm.controls.email.invalid  ? 'danger' : 'success') : 'basic'">

                            <!-- User email errors -->
                            <ng-container class="form-field-errors"
                                *ngIf="userEmailForm.controls.email.invalid && userEmailForm.controls.email.touched">
                                <p class="caption status-danger" *ngIf="userEmailForm.controls.email.errors?.required">
                                    User email is required!</p>
                                <p class="caption status-danger" *ngIf="userEmailForm.controls.email.errors?.minlength">
                                    Insert at least 4 chars
                                </p>
                                <p class="caption status-danger"
                                    *ngIf="userEmailForm.controls.email.errors?.uniqueUserEmail">
                                    A user with email {{ userEmailForm.controls.email.value }} already exists
                                </p>
                            </ng-container>
                        </div>
                        <button nbButton type="submit" status="primary" [disabled]="!userEmailForm.valid">next</button>
                    </form>
                </nb-step>

                <!-- USER ROLE STEP -->
                <nb-step [stepControl]="userRoleForm" label="Role">
                    <form [formGroup]="userRoleForm" (ngSubmit)="onRoleSubmit()" class="step-container">
                        <p class="lorem">
                            Select User's role:
                        </p>
                        <div class="input-group">
                            <nb-radio-group formControlName="role">
                                <nb-radio value="admin">Admin</nb-radio>
                                <nb-radio value="employee">Employee</nb-radio>
                                <nb-radio value="cleaner">Cleaner</nb-radio>
                            </nb-radio-group>

                        </div>
                        <button nbButton type="submit" status="primary" [disabled]="!userRoleForm.valid">next</button>
                    </form>
                </nb-step>


                <!-- RECAP STEP -->
                <nb-step label="Recap">
                    <div class="step-container">
                        <h4>Confirm?</h4>
                        <div>
                            Do you really want to create a user with the following informations?
                            <div>
                                <ul>
                                    <li>
                                        <strong>Email:</strong> {{ user.email }}
                                    </li>
                                    <li>
                                        <strong>Role:</strong> {{ user.role }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext status="success" (click)="onAddUser()">Confirm</button>
                    </div>
                </nb-step>

                <!-- RESULT STEP -->
                <nb-step [hidden]="true" label="Result step">
                    <div class="step-container">

                        <ng-container *ngIf="getCreationResult() === 'creating'; else creationResult">
                            <h3>Creating user</h3>
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </ng-container>

                        <ng-template #creationResult>

                            <ng-container *ngIf="getCreationResult() === 'successful'; else creationFailed">
                                <h3>User created!</h3>
                                <button nbButton (click)="close()">Ok</button>
                            </ng-container>

                            <ng-template #creationFailed>
                                <h3>Something went wrong</h3>
                                <button nbButton status="warning" (click)="onAddUser()">Retry</button>
                                <button nbButton status="danger" (click)="close()">Close</button>
                            </ng-template>
                            
                        </ng-template>

                    </div>
                </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</div>