:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

ul {
  padding: 0;
  margin-top: 0.5rem;
}

li {
  list-style-type: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group > .form-control {
  width: 100%;
  margin-bottom: 0.5rem;
}
