<!-- <div class="row">
    <div class="col-md-12">
        <button nbButton status="primary" (click)="addRoom()">Add room</button>
    </div>
</div> -->

<div class="fab" (click)="addRoom()">
    <!-- <nb-icon icon="plus-outline"></nb-icon> -->
    +
</div>


<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Search room</nb-card-header>
            <nb-card-body>

                <!-- Room search form -->
                <form class="form-inline" [formGroup]="searchForm">

                    <!-- Room search field -->
                    <div class="form-control-group" fullWidth>

                        <!-- Room search input -->
                        <input id="roomName" type="text" nbInput fullWidth placeholder="Room name"
                            formControlName="name">
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="lists row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-xxl-4" *ngFor="let room of rooms">
                <ngx-room-card [room]="room" (onDelete)="deleteRoom($event)"></ngx-room-card>
            </div>
        </div>
    </div>
</div>