
@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 500px;
  }
}

.info-text {
  padding: 1rem;
}

.checkboxes {
  padding: 1rem;
}

.download-button {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

p {
  padding: 0 1rem;
}
