<nb-card>
    <nb-card-header>Download workspace history</nb-card-header>
    <nb-card-body>

        <div class="info-text">
            Select which informations you want to download:
        </div>

        <div class="checkboxes" [formGroup]="downloadForm" (ngSubmit)="download()">
            <nb-checkbox (checkedChange)="onCheckboxChange($event, 'cleanings')" [disabled]="history.cleanings_history.length === 0">Cleanings history</nb-checkbox><br>
            <nb-checkbox (checkedChange)="onCheckboxChange($event, 'bookings')" [disabled]="history.bookings_history.length === 0">Bookings history</nb-checkbox>
        </div>

        <p class="caption status-danger" *ngIf="downloadForm.controls['checkArray'].errors?.required">
            Checkbox is required, select atleast one value.
        </p>


        <div class="download-button">
            <button nbButton status="primary" (click)="download()"
                [disabled]="downloadForm.controls['checkArray'].errors">Download</button>
        </div>

    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
</nb-card>