<div>
    <nb-card>
        <nb-card-body>
            <nb-stepper #stepper>

                <!-- ROOM NAME STEP -->
                <nb-step [stepControl]="workspaceNameForm" label="Name">
                    <form [formGroup]="workspaceNameForm" (ngSubmit)="onNameSubmit()" class="step-container">
                        <p class="lorem">
                            Choose Workspace name:
                        </p>
                        <div class="input-group">
                            <input nbInput fullWidth type="text" placeholder="Enter your name" class="form-control"
                                formControlName="name" required
                                [status]="workspaceNameForm.controls.name.dirty ? (workspaceNameForm.controls.name.invalid  ? 'danger' : 'success') : 'basic'">

                            <!-- Workspace name errors -->
                            <ng-container class="form-field-errors"
                                *ngIf="workspaceNameForm.controls.name.invalid && workspaceNameForm.controls.name.touched">
                                <p class="caption status-danger" *ngIf="workspaceNameForm.controls.name.errors?.required">
                                    Workspace name is required!</p>
                                <p class="caption status-danger" *ngIf="workspaceNameForm.controls.name.errors?.minlength">
                                    Insert at least 4 chars
                                </p>
                                <p class="caption status-danger"
                                    *ngIf="workspaceNameForm.controls.name.errors?.uniqueWorkspaceName">
                                    A workspace named {{ workspaceNameForm.controls.name.value }} already exists
                                </p>
                            </ng-container>
                        </div>
                        <button nbButton type="submit" status="primary" [disabled]="!workspaceNameForm.valid">next</button>
                    </form>
                </nb-step>


                <!-- ROOM RFID STEP -->
                <nb-step [stepControl]="workspaceRfidForm" label="RFID">
                    <form [formGroup]="workspaceRfidForm" (ngSubmit)="onRfidSubmit()" class="step-container">
                        <p class="lorem">
                            Set workspace's rfid id:
                        </p>
                        <div class="input-group">
                            <input nbInput fullWidth type="text" placeholder="Rfid" class="form-control"
                                formControlName="rfid" required
                                [status]="workspaceRfidForm.controls.rfid.dirty ? (workspaceRfidForm.controls.rfid.invalid  ? 'danger' : 'success') : 'basic'">

                            <!-- Workspace rfid errors -->
                            <ng-container class="form-field-errors"
                                *ngIf="workspaceRfidForm.controls.rfid.invalid && workspaceRfidForm.controls.rfid.touched">
                                <p class="caption status-danger" *ngIf="workspaceRfidForm.controls.rfid.errors?.required">
                                    Workspace rfid is required!</p>
                                <p class="caption status-danger" *ngIf="workspaceRfidForm.controls.rfid.errors?.minlength">
                                    Insert at least 4 chars
                                </p>
                                <p class="caption status-danger"
                                    *ngIf="workspaceRfidForm.controls.rfid.errors?.uniqueRfid">
                                    The rfid tag <strong>{{ workspaceRfidForm.controls.rfid.value }}</strong> is already associated
                                    to a workspace
                                </p>
                            </ng-container>
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton type="submit" status="primary" [disabled]="!workspaceRfidForm.valid">next</button>
                    </form>
                </nb-step>


                <!-- RECAP STEP -->
                <nb-step label="Recap">
                    <div class="step-container">
                        <h4>Confirm?</h4>
                        <div>
                            Do you really want to create a workspace with the following informations?
                            <div>
                                <ul>
                                    <li>
                                        <strong>Name:</strong> {{ workspace.name }}
                                    </li>
                                    <li>
                                        <strong>Rfid:</strong> {{ workspace.rfid }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext status="success" (click)="onAddWorkspace()">Confirm</button>
                    </div>
                </nb-step>

                <!-- RESULT STEP -->
                <nb-step [hidden]="true" label="Result step">
                    <div class="step-container">

                        <ng-container *ngIf="getCreationResult() === 'creating'; else creationResult">
                            <h3>Creating workspace</h3>
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </ng-container>

                        <ng-template #creationResult>

                            <ng-container *ngIf="getCreationResult() === 'successful'; else creationFailed">
                                <h3>Workspace created!</h3>
                                <button nbButton (click)="close()">Ok</button>
                            </ng-container>

                            <ng-template #creationFailed>
                                <h3>Something went wrong</h3>
                                <button nbButton status="warning" (click)="onAddWorkspace()">Retry</button>
                                <button nbButton status="danger" (click)="close()">Close</button>
                            </ng-template>
                            
                        </ng-template>

                    </div>
                </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</div>