<nb-card>
    <nb-card-header>Enter new room's name</nb-card-header>
    <nb-card-body>
      <!-- <input #room nbInput placeholder="Name"> -->

      <!-- Room form -->
      <form class="form-inline" [formGroup]="roomForm">

        <!-- Room name field -->
        <div class="form-control-group" fullWidth>

            <!-- Room name input -->
            <input id="roomName" type="text" nbInput fullWidth placeholder="Room name"
                formControlName="name" required
                [status]="roomForm.controls.name.dirty ? (roomForm.controls.name.invalid  ? 'danger' : 'success') : 'basic'">

            <!-- Room name errors -->
            <ng-container class="form-field-errors"
                *ngIf="roomForm.controls.name.invalid && roomForm.controls.name.touched">
                <!-- <p class="caption status-danger" *ngIf="roomForm.controls.name.errors?.required">
                    Room name is required!
                </p> -->
                <p class="caption status-danger" *ngIf="roomForm.controls.name.errors?.minlength">
                    Insert at least 4 chars
                </p>
                <p class="caption status-danger" *ngIf="roomForm.controls.name.errors?.uniqueRoomName">
                    A room named {{ roomForm.controls.name }} already exists
                </p>
            </ng-container>
        </div>

        <!-- Submit button -->
        <!-- <button type="submit" nbButton status="primary" [disabled]="!roomForm.valid">Submit</button> -->
    </form>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" (click)="submit()" [disabled]="!roomForm.valid">Submit</button>
    </nb-card-footer>
  </nb-card>
  