<!-- <p> {{ debug }}</p> -->

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>

                <div class="card-body">
                    <span class="card-body-content">

                        <ng-container *ngIf="!edit; else editRoomDetails">
                            <span class="roomInfo">
                                <span class="roomName">{{ room.name }}</span>
                                <span class="roomRfid">{{ room.rfid }}</span>
                            </span>
                        </ng-container>

                        <ng-template #editRoomDetails>
                            <span class="roomInfo">
                                <form [formGroup]="editForm">

                                    <div class="form-control-group" fullWidth>
                                        <label for="roomName" class="label col-sm-3 col-form-label">Name</label>
                                        <input id="roomName" type="text" nbInput placeholder="Room name"
                                            formControlName="name">
                                    </div>
                                    <div class="form-control-group" fullWidth>
                                        <label for="roomRfid" class="label col-sm-3 col-form-label">Rfid</label>
                                        <input id="roomRfid" type="text" nbInput placeholder="Room rfid"
                                            formControlName="rfid">
                                    </div>

                                </form>
                            </span>
                        </ng-template>

                        <span class="editIcons">
                            <ng-container *ngIf="edit===false; else stop_edit_icon">
                                <nb-icon icon="edit-outline" (click)="editRoom()"></nb-icon>
                            </ng-container>

                            <ng-template #stop_edit_icon>
                                <!-- TODO: Disable icon -->
                                <nb-icon icon="checkmark-outline" (click)="saveEdits()" [disabled]="!editForm.valid">
                                </nb-icon>
                                <nb-icon icon="close-outline" (click)="cancelEdits()"></nb-icon>
                            </ng-template>
                        </span>

                    </span>

                    <nb-toggle [status]="room.enabled ? 'success' : 'danger'" [formControl]="activationForm">
                    </nb-toggle>

                    <!-- <nb-icon icon="trash-2-outline" status="danger" (click)="deleteRoom()"></nb-icon> -->

                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>

<ngx-workspaces-list [workspaces]="room.workspaces"></ngx-workspaces-list>