.card-body {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
}

.roomName {
  font-size: 2rem;
  font-weight: 700;
}

.editIcons {
  margin-left: 1rem;

  nb-icon {
    cursor: pointer;
    width: 2rem !important;
    height: 2rem !important;
  }
}
.roomInfo{
  display: flex;
  flex-direction: column;
}
.roomName{
  margin-top: 0.3rem;
}
.roomRfid{
  padding-top: 1rem;
  font-size: 10pt;
}
.card-body-content {
  display: flex !important;
  flex-direction: row;
}

.form-control-group {
  min-width: 25vw;
}