<!-- <div class="row">
    <div class="col-md-12">
        <button nbButton status="primary" (click)="addWorkspace()">Add workspace</button>
    </div>
</div> -->

<div class="fab" (click)="addWorkspace()">
    <!-- <nb-icon icon="plus-outline"></nb-icon> -->
    +
</div>


<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Search workspace</nb-card-header>
            <nb-card-body>

                <!-- Workspace search form -->
                <form class="form-inline" [formGroup]="searchForm">

                    <!-- Workspace search field -->
                    <div class="form-control-group" fullWidth>

                        <!-- Workspace search input -->
                        <input id="workspaceName" type="text" nbInput fullWidth placeholder="Workspace name"
                            formControlName="name">
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="lists row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-xxl-4" *ngFor="let workspace of workspaces">
                <ngx-workspace-card [workspace]="workspace" (onDelete)="deleteWorkspace($event)"></ngx-workspace-card>
            </div>
        </div>
    </div>
</div>