<nb-card>
    <nb-card-header>Confirm?</nb-card-header>
    <nb-card-body>
        Do you want to confirm the deletion? <br/>It cannot be undone
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
        <button nbButton status="success" (click)="submit()">Delete</button>
    </nb-card-footer>
</nb-card>