<nb-card size="tiny" class="solar-card" [status]="workspace.clean ? 'success' : 'warning'" [routerLink]="[workspace._id]">
    <nb-card-header>
        <span>
            {{ workspace.name }}
        </span>

        <span>
            <nb-icon icon="trash-2-outline" status="danger" (click)="deleteWorkspace()"></nb-icon>
        </span>
    </nb-card-header>
    <nb-card-body [ngClass]="!workspace.enabled ? 'disabled-workspace' : ''">
        <div class="info">

            <div class="h4 value">{{ workspace.name }}</div>
            <div class="details subtitle-2">{{ workspace.rfid }}</div>
            
        </div>
        <div class="status">
            <ng-container *ngIf="workspace.available; else notAvailable">
                <nb-icon nbTooltip="This workspace is free" nbTooltipPlacement="top" icon="person-done-outline"></nb-icon>
            </ng-container>

            <ng-template #notAvailable>
                <ng-container *ngIf="true; else inUse">
                    <nb-icon nbTooltip="This workspace is booked" nbTooltipPlacement="top" icon="clock-outline"></nb-icon>
                </ng-container>

                <ng-template #inUse>
                    <nb-icon nbTooltip="This workspace is in use" nbTooltipPlacement="top" icon="person-delete-outline"></nb-icon>
                </ng-template>
            </ng-template>

        </div>
    </nb-card-body>
</nb-card>