nb-card-header {
  display: flex;
  justify-content: space-between;
}

nb-icon {
  cursor: pointer;
  margin-left: 1em;
}

nb-card-body {
  display: flex;
  flex-direction: row;
}

.info {
  min-width: 50%;
}

.status {
  min-width: 50%;
  align-items: end;
  display: flex;
  justify-content: space-around;

  nb-icon {
    font-size: 4em;
  }
}

nb-card {
  cursor: pointer;
}

.disabled-workspace {
  background: lightgray;
}