<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Current workspaces status</nb-card-header>
      <nb-card-body>
        <ngx-d3-advanced-pie [occupation]="occupation"></ngx-d3-advanced-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>
